<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="rmak2_ESC_PlayersConnectionString" connectionString="Data Source=bender.net.nait.ca,24680;Initial Catalog=rmak2_ESC_Players;User ID=rmak2;Password=Falc0_Waveshine"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

</configuration>
